# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

alps-v2/bower_components
alps-v2/node_modules
alps-v2/npm-debug.log
alps-v2/vendor
