/*
.cf-container-carbon_fields_container_alps_theme_settings .mce-edit-area iframe { height: 200px; }
div.postbox-container div.carbon-box { border-top: 2px solid #bbb; background: #d5d5d5; }
.carbon-box h2 span { font-size: 20px; }
.cf-field.cf-separator { background-color: #efefef; }
*/
.cf-field { padding: 20px !important; }
