/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form ol, form ul {
  list-style: none;
  margin-left: 0;
}

legend {
  font-weight: bold;
  margin-bottom: $space-and-half;
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

label {
  display: block;
  margin-bottom: rem(5);
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

textarea {
  line-height: 1.5;
}

button, input, select, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=url], input[type=number], textarea {
  border: none;
  padding: rem(15);
  font-weight: 300;
  background-color: $white;
  font-size: rem(16);
  width: 100%;
  outline: 0;
  display: block;
  border: 1px solid darken($gray-light, 20);
  transition: all .5s $cubic-bezier;
  @include placeHolder(darken($gray-light, 20));
  &:hover {
    border-color: rgba($blue, .5);
  }
  &:focus {
    border-color: $blue;
    @include placeHolder(darken($gray-light, 10));
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em;
}

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Form Field Container
 */
.field-container {
  margin-bottom: $space;
}

/**
 * Validation
 */
.has-error {
  border-color: $error;
}
.is-valid {
  border-color: $valid;
}
