/*------------------------------------*\
    $TEXT ELEMENTS
\*------------------------------------*/

/**
 * Abstracted paragraphs
 */
p { @include p; }
ul { @include p; }
ol { @include p; }
dt { @include p; }
dd { @include p; }

pre {
  font-size: rem(18);
}

/**
 * Bold
 */
strong, b {
  font-weight: 700;
}

/**
 * Blockquote
 */
blockquote:not(.pullquote) {
  padding: $pad;
  text-align: left;
  clear: both;
  border-left: 10px solid $blue;
  background-color: $white;
  p {
    color: $gray-dark;
    font-style: italic;
    margin-bottom: 0;
    quotes: "\201C""\201D""\2018""\2019";
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
  @include mq($px900) {
    padding: $pad-and-half;
  }
}

/**
 * Horizontal Rule
 */
hr {
  height: 1px;
  border: none;
  background-color: $gray;
  margin-top: $space-double;
  margin-bottom: $space-double;
  @include center-block;
}

/**
 * Abbreviation
 */
abbr {
  border-bottom: 1px dotted $gray;
  cursor: help;
}
