/*------------------------------------*\
    $PRINT STYLES
\*------------------------------------*/

@media print {
  @page {
    margin: 1in 0.5in 0.5in;
    orphans: 4;
    widows: 3;
  }
  p, li, pre, figure, blockquote, h1, h2, h3, h4, h5  {
    page-break-inside: avoid;
  }
  section {
    page-break-before: always;
  }
  body,
  article {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #header {
    position: relative;
    display: block!important;
  }
  .logo__link {
    background-color: #000!important;
    margin: 0 auto;
  }
  p:first-letter,
  span:first-letter{
    font-size: 100%!important;
    display: flex;
  }
  .kicker,
  .article__meta,
  .block__description span {
    display: flex;
    line-height: 1.6;
  }
  .divider {
    padding-left: 15px;
    padding-right: 10px;
    margin: 0;
    text-align: center;
    border: none;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    display: none;
  }
  .hero-carousel,
  .footer__unify-nav-desc,
  .nav-toggle,
  .at-cv-lightbox,
  .share-tools,
  #comments,
  .fitvid,
  .breakout,
  .article-nav__search,
  .article-nav {
    display: none;
  }
  .btn {
    border:1px solid #000;
  }
}
