/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */
 .lc {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  padding-left: $pad;
  padding-right: $pad;
  @include media('>large') {
    padding-left: $pad-double;
    padding-right: $pad-double;
  }
}

/**
 * Wrapping element to keep content contained and centered.
 */
.wrap {
  max-width: $max-width;
  margin: 0 auto;
}

/**
 * Wrapping element to keep content contained and centered at narrower widths.
 */
.narrow {
  max-width: rem(726);
}
.narrow--s {
  max-width: rem(450);
  @include mq($px800) {
    max-width: rem(620);
  }
}
.narrow--s-m {
  max-width: rem(700);
}
.narrow--m {
  max-width: $article-max;
}
.narrow--l {
  max-width: rem(925);
}
.narrow--xl {
  max-width: rem(1250);
}


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/
