/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/**
* Grid Uniform - For grids that should line up evenly (these grids should not
* use <hr>'s to separate individual grid items).
*/
.grid--uniform {
  > .gi {
    border-bottom: 1px solid lighten(#000, 90);
  }
}

// IE 11 fixes
.logo__link {
  img {
    max-height: 135px;
    width: auto;
  }
}
.overflow--hidden {
  overflow: hidden;
}
