/*------------------------------------*\
    $BORDERS
\*------------------------------------*/

/**
 * Borders/Dividers
 */
.border {
  border: $border-style;
}
.img-border img {
  border: 1px solid lighten($gray-med, 25);
}

.divider {
  display: inline-block;
  border-right: $border-style;
  margin-left: rem(2);
  margin-right: rem(5);
  color: transparent;
  height: rem(16);
  width: 1px;
  overflow: hidden;
  text-indent: -10px;
  vertical-align: middle;
}

.has-frame-border {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: rem(20);
  .block__link {
    margin: 5.5%;
  }
}
.border--frame {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 5px);
  background: url(../images/frame--large.png) center center no-repeat;
  background-size: 100% 100%;
  z-index: 100;
  pointer-events: none;
}
