/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.secondary-nav--with-subnav {
  &.is-active {
    .arrow--down {
      transform: rotate(180deg);
    }
    .secondary-nav__subnav__list {
      background-color: $gray-light;

      a {
        font-size: rem(15);
        padding-top: rem(10);
        padding-bottom: rem(10);
      }
    }
  }

  &::before {
    content: "";
    border-left: rem(4) solid transparent;
    border-right: rem(4) solid transparent;
    border-top: rem(4) solid rgba(black, 0.6);
    position: absolute;
    right: rem(10);
    top: calc(50%);
    transform: translate(0,-50%);
    right: rem(-1);
    display: none;

    @include media('>medium') {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(10);
    background-color: $white;
    bottom: rem(3);
    z-index: 20;
    display: none;

    @include media('>medium') {
      height: rem(5);
    }

    @include media('>large') {
      bottom: rem(1);
    }
  }

  @include media('>medium') {
    padding: rem(5) rem(10);
    .secondary-nav__subnav__list {
      .secondary-nav__list-item {
        padding: rem(5);
      }
    }

    &.this-is-active {
      box-shadow: 0 0 2px rgba($black, .3);
      background-color: $white;
      z-index: 15;

      .secondary-nav__subnav__list {
        display: block;
        background: white;
        top: rem(23);
      }

      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }
  }

  .wpml-ls-flag {
    top: rem(2);
    margin-right: rem(3);
  }
}

.wpml-ls-flag {
  margin-right: rem(5);
  position: relative;
  top: 0;
  max-width: none !important;
}

/**
 * Tribe Events
 */

.type-tribe_events {
  margin: 0;
}

.tribe-events-list .type-tribe_events.tribe-events-first {
  padding-top: $pad-and-half;
}

.tribe-mini-calendar-event {
  margin-bottom: $space-half;
  padding-bottom: $pad-half;
  border-bottom: 1px solid $gray-light;
}

.tribe-events-loop .tribe-events-event-meta {
  margin: 0 0 $space 0;
}

.tribe-events-list-separator-month {
  font-size: inherit;
  margin: $space-double 0 0 0;
  padding: rem(7) $pad-half $pad-half $pad-half;
  background: transparent;
  color: white;
}

.tribe-address {
  line-height: 1.5rem;
  font-weight: normal;
}

#tribe-bar-form {
  background-color: #FAF8F1;
}

#tribe-bar-collapse-toggle {
  background: transparent;
}

.tribe-bar-views-inner {
  background-color: #efe9d7;
}

.tribe-grid-header,
.tribe-events-calendar th {
  font-family: inherit;
  background-color: #efe9d7;
  border-bottom: 1px solid #efe9d7;
}

.tribe-week-today,
.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
  background-color: #FAF8F1;
}

#tribe-bar-form .tribe-bar-submit input[type=submit],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
  background-color: #514b41;
}

.tribe-events-grid,
.tribe-events-grid .tribe-grid-content-wrap .column,
#tribe-events-content .tribe-events-calendar td,
#tribe-events-content table.tribe-events-calendar {
  border-color: $gray-light;
  color: black;
}

.tribe-grid-allday {
  border-bottom: none;
}

#tribe-bar-views {
  .tribe-bar-views-list {
    .tribe-bar-views-option.tribe-bar-active {
      margin-top: 5px;
    }
    .tribe-bar-views-option,
    .tribe-bar-views-option.tribe-bar-active {
      a {
        box-shadow: none;
        background: #efe9d7;
        font-family: inherit;
        font-size: rem(14);
        line-height: 1;

        &:hover {
          background: darken(#efe9d7, 5%);
        }
      }
    }
  }
}

.single-tribe_events {
  .tribe-events-single-event-title {
    margin-top: $space;
    display: block;
  }
  .tribe-events-schedule {
    margin: 0;
    margin-top: $space-half;
  }
  .tribe-events-event-meta {
    background: #FAF8F1;
    border-color: #efe9d7;
  }
}

.tribe-list-widget {
  margin-left: 0;
  padding-left: 0;

  .tribe-events-list-widget-events {
    border-bottom: 1px solid $gray-light;
    padding-bottom: $pad;
    margin-bottom: $space-half;
  }
}
