/*------------------------------------*\
    $ANIMATIONS & TRANSITIONS
\*------------------------------------*/

/**
 * Transitions
 */
.trans {
  @include trans;
}
.trans--fast {
  @include transition(all .1s ease-in-out);
}

/**
 * Reveal animations.
 */
[data-animation] {
  opacity: 0;
}

// Fade in and slide up from bottom
.fade-up {
  transform: translateY(40px);
  animation: fade-up 1.4s $cubic-bezier forwards;
}
@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Fade in and slide right from left
.fade-right {
  transform-origin: center left;
  transform: translateX(-20px);
  animation: fade-right .4s ease-out forwards;
}
.fade-right:nth-child(even) {
  animation-delay: 300ms;
}
@keyframes fade-right {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
// Fade in and slide left from right
.fade-left {
  transform-origin: center right;
  transform: translateX(20px);
  animation: fade-left .4s ease-out forwards;
}
.fade-left:nth-child(even) {
  animation-delay: 300ms;
}
@keyframes fade-left {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.has-odd-animation {
  .fade-up:nth-child(even) {
    animation-delay: 200ms;
  }
}
.has-delay-animation {
  @for $i from 1 through 20 {
  	.fade-up:nth-child(#{$i}) {
      animation-delay: #{$i}00ms;
  	}
  }
}

// Spin with perspective.
@keyframes spinner {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}

.logo__link:hover .sl-icon__ring,
.preload .sl-icon__ring {
  transform-origin: center center;
  animation: spinner 1s ease-in-out infinite;

}
@keyframes spinner-reset {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(0deg); }
}
.sl-icon__ring {
  animation: spinner-reset 1s;
}

// Rotate 360
.anim--rotate {
  transform-origin: center center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}



  // .shape--right-arrow,
  // .shape--left-arrow {
  //   position: relative;
  //   &:before,
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     height: 100%;
  //     left: -15%;
  //     right: -15%;
  //     top: 10%;
  //     transform: rotate(-15deg) scale(1.7);
  //     z-index: 0;
  //     background-color: $gray-light;
  //     mix-blend-mode: multiply;
  //     @include media('>medium') {
  //       left: -10%;
  //       right: -10%;
  //     }
  //   }
  // }
  // .shape--right-arrow {
  //   &:after {
  //     top: 25%;
  //     transform: rotate(30deg) scale(1.5);
  //     mix-blend-mode: soft-light;
  //   }
  // }
  // .shape--left-arrow {
  //   &:before {
  //     top: 10%;
  //     transform: rotate(25deg) scale(1.7);
  //   }
  //   &:after {
  //     mix-blend-mode: soft-light;
  //   }
  // }
  //
  // .blend-mode--soft-light {
  //   &:before {
  //     mix-blend-mode: soft-light;
  //   }
  // }
