/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.text,
.ovh {
  max-width: 100%;
}

figcaption a {
  display: inline-block;
}

.round img {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: rem(200);
  }
}

.carousel__item-dek {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    max-width: 100%;
  }
}

.secondary-nav--with-subnav {
  &.is-active {
    .arrow--down {
      transform: rotate(180deg);
    }

    .secondary-nav__subnav__list {
      background-color: $gray-light;

      a {
        font-size: rem(15);
        padding-top: rem(10);
        padding-bottom: rem(10);
      }
    }
  }

  &::before {
    content: "";
    border-left: rem(4) solid transparent;
    border-right: rem(4) solid transparent;
    border-top: rem(4) solid rgba(black, 0.6);
    position: absolute;
    right: rem(10);
    top: calc(50%);
    transform: translate(0, -50%);
    right: rem(-1);
    display: none;

    @include media(">medium") {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(10);
    background-color: $white;
    bottom: rem(3);
    z-index: 20;
    display: none;

    @include media(">medium") {
      height: rem(5);
    }


    @include media(">large") {
      bottom: rem(1);
    }
  }

  @include media(">medium") {
    padding: rem(5) rem(10);

    .secondary-nav__subnav__list {
      .secondary-nav__list-item {
        padding: rem(5);
      }
    }

    &.this-is-active {
      box-shadow: 0 0 2px rgba($black, 0.3);
      background-color: $white;
      z-index: 15;

      .secondary-nav__subnav__list {
        display: block;
        background: white;
        top: rem(23);
      }

      &::before {
        display: none;
      }

      &::after {
        display: block;
      }
    }
  }


  .wpml-ls-flag {
    top: rem(2);
    margin-right: rem(3);
  }
}

.wpml-ls-flag {
  margin-right: rem(5);
  position: relative;
  top: 0;
  max-width: none !important;
}
