/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.secondary-nav--with-subnav {
  &.is-active {
    .arrow--down {
      transform: rotate(180deg);
    }
    .secondary-nav__subnav__list {
      background-color: $gray-light;

      a {
        font-size: rem(15);
        padding-top: rem(10);
        padding-bottom: rem(10);
      }
    }
  }

  &::before {
    content: "";
    border-left: rem(4) solid transparent;
    border-right: rem(4) solid transparent;
    border-top: rem(4) solid rgba(black, 0.6);
    position: absolute;
    right: rem(10);
    top: calc(50%);
    transform: translate(0,-50%);
    right: rem(-7);
    display: none;
    @include media('>medium') {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(10);
    background-color: $white;
    bottom: rem(3);
    z-index: 20;
    display: none;
    @include media('>medium') {
      height: rem(5);
    }
    @include media('>large') {
      bottom: rem(-3);
    }
  }

  @include media('>medium') {
    &.this-is-active {
      box-shadow: 0 0 2px rgba($black, .3);
      background-color: $white;
      z-index: 15;
      .secondary-nav__subnav__list {
        display: block;
        background: white;
        top: rem(23);
      }
      &::before {
        display: none;
      }
      &::after {
        display: block;
      }
    }
    .secondary-nav__subnav__list-item {
      padding: rem(5) 0;
    }
  }
}

.wpml-ls-flag {
  margin-right: rem(3);
  position: relative;
  top: rem(2);
}

.wpml-ls-current-language {
  &::before {
    display: none;
  }

  &.this-is-active {
    box-shadow: none;
    background-color: transparent;

    &::after {
      display: none;
    }
  }
}
