/*------------------------------------*\
    $COLOR MODIFIERS
\*------------------------------------*/

/**
 * Text Colors
 */
.gray {
  color: $gray;
}
.gray--med {
  color: $gray-med;
}
.gray--light {
  color: $gray-light;
}
.gray--dark,
.gray--dark a {
  color: $gray-dark;
}
.black,
.black a {
  color: $black;
}
.white {
  color: $white;
}
a.white:hover {
  color: $gray;
}


/**
 * Background Colors
 */
.no-bg {
  background: none;
}
.bg--white {
  background-color: $white;
}
.bg--black {
  background-color: $black;
}
.bg--dark-gray {
  background-color: $gray-dark;
}


/**
 * Path Fills
 */
.pf--white {
  path {
    fill: $white;
  }
}
.pf--black {
  path {
    fill: $black;
  }
}
.pf--gray-light {
  path {
    fill: $gray-light;
  }
}
