/*------------------------------------*\
    $ARTICLE
\*------------------------------------*/

/**
 * Longform
 */
.longform {
  h1 { @include font--primary--xl }
  h2 { @include font--primary--l; font-weight: bold; }
  h3 { @include font--primary--m--upper; font-weight: bold; }
  h4 { @include font--primary--m; font-weight: bold; }
  h5, h6 { @include font--primary--s; font-weight: bold; }

  p { @include p; }
  ul { @include p; }
  ol { @include p; }
  dt { @include p; }
  dd { @include p; }

  > p a,
  > ul a,
  > ol a,
  > dl a {
    @include a;
  }

  blockquote {
    @include font--primary--l;
    font-weight: 500;
    small {
      margin-top: $space-half;
      display: block;
      @include font--primary--s;
    }
  }
  figcaption {
    @include font--primary--xs;
  }
  hr {
    margin-top: rem(15);
    margin-bottom: rem(15);
    @include media('>=large') {
      margin-top: rem(30);
      margin-bottom: rem(30);
    }
  }
}

// Longform styles from font--styles.scss
ol, ul {
  .longform & {
    margin-left: $space;
    li > ol,
    li > ul {
      margin-top: rem(verticalSpacing(mobile)/2.5);
      @include media('>xlarge') {
        margin-top: rem(verticalSpacing(desktop)/2.5);
      }
    }
    & > li {
      position: relative;
      & + li {
        margin-top: rem(verticalSpacing(mobile)/2.5);
        @include media('>xlarge') {
          margin-top: rem(verticalSpacing(desktop)/2.5);
        }
      }
    }
  }
}
ol {
  .longform & {
    & > li {
      list-style: decimal;
      & > ol > li {
        list-style: lower-primary;
        & > ol > li {
          list-style: lower-roman;
        }
      }
    }
  }
}
ul {
  .longform & {
    li {
      list-style: disc;
      li {
        list-style: circle;
      }
    }
  }
}

// .article__header {
//   padding-top: rem(120);
// }
// .article__title {
//   text-align: center;
// }
.wp-caption-text {
  max-width: rem(750);
  margin-left: auto;
  margin-right: auto;
}
.article__max {
  max-width: $article-max;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.article__body {
  max-width: $article-max;
  margin-left: auto;
  margin-right: auto;
  > .twitter-tweet,
  > .instagram-media,
  > .instagram-media-rendered {
    margin-bottom: rem(23) !important;
    max-width: rem(660) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-shadow: none !important;
    clear: both;
    @include media('>medium') {
      max-width: rem(717) !important;
    }
  }
  > .twitter-tweet {
    margin-top: $space-and-half !important;
  }
  > p:empty,
  > h2:empty,
  > h3:empty {
    display: none;
  }
  > h1,
  > h2,
  > h3,
  > h4 {
    margin-top: rem(50);
    margin-bottom: rem(-5);
    &:first-child {
      margin-top: 0;
    }
  }
  > h5,
  > h6 {
    margin-bottom: rem(-20);
    &:first-child {
      margin-top: 0;
    }
  }
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .wp-caption-text {
    display: block;
    line-height: 1.3;
    text-align: left;
  }
  .fluid-width-video-wrapper {
    padding-top: 55.8% !important;
  }
  a:hover {
    // Clear descendors from underline
    //text-shadow: 3px 0 white, 2px 0 white, 1px 0 white, -1px 0 white, -2px 0 white, -3px 0 white;
  }

  img {
    height: auto;
  }
  figure {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: none;
    width: auto !important;
  }

  .alignleft,
  img.alignleft {
    float: left;
    margin: rem(5) $space-and-half $space 0;
  }
  .alignright,
  img.alignright {
    float: right;
    margin: rem(5) 0 $space $space-and-half;
  }
  .aligncenter,
  img.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
  .alignnone,
  img.alignnone {
    margin-left: auto;
    margin-right: auto;
  }

  blockquote.left {}
  blockquote.right {}

  .size-full {
    width: auto;
  }
  .size-large {}
  .size-medium {}
  .size-thumbnail {
    max-width: rem(300);
    height: auto;
  }
}

/**
 * Pullquote
 */
.pullquote {
  text-align: center;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: rem(24);
  font-family: $font-secondary;
  @include media('>medium') {
    font-size: rem(28);
  }
  @include media('>large') {
    font-size: rem(34);
  }
  &:before {
    content: open-quote;
  }
  p:first-child {
    display: inline;
    margin-bottom: $space;
    &:after {
      content: close-quote;
    }
  }
  .cite {
    @include font--primary--s--upper;
    font-weight: bold;
    font-style: normal;
    display: block;
    line-height: 1.4;
    padding-top: rem(20);
  }
  .cite__suffix {
    font-weight: normal;
  }
}

.project__heading {
  margin-bottom: $space-and-half;
}
.project__details {
  background-color: $white;
  padding: rem(10);
  //mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba($black,1)), to(rgba($black,0)));
  @include media('>xsmall') {
    padding: rem(20);
  }
  @include media('>xxlarge') {
    padding: rem(30) rem(30) rem(40);
  }
  .article__body {
    @include media('>large') {
      padding-right: $pad-double;
    }
  }
}
.project__meta {
  @include media('<large') {
    padding-top: $pad-and-half;
    border-top: $border-style--light;
    margin-bottom: $space;
    width: 100%;
  }
}
.client-logo {
  max-width: rem(180);
  @include media('>medium') {
    max-width: rem(250);
  }
  position: relative;
  svg {
    max-height: rem(80);
  }
}
