/*------------------------------------*\
    $LIST TYPES
\*------------------------------------*/

.inline-list {
  li {
    display: inline-block;
  }
}

/**
 * Bullet List
 */
.bullet-list {
  list-style-type: disc;
  padding-left: rem(14);
  li {
    //color: $gray-med;
    overflow: visible;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.color-bullet span {
  color: $body-color;
}

/**
 * Text List
 */
.text-list {
  margin: 0 0 1em;
  line-height: 1.3;
  li {
    margin-bottom: $space;
  }
}

.ul-table {
  background-color: $white;
  border: $border-style--light;
  li {
    background-color: $white;
    margin-bottom: 0;
    padding: rem(25);
    @include font--primary--sm;
    border-bottom: $border-style--light;
    @include media('>medium') {
      border-right: $border-style--light;
      &:nth-child(even) {
        border-right: none;
      }
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
