/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

.block {
  width: 100%;
}
.block__link {
  display: block;
}
.block__image {
  width: 100%;
}
.block__meta {
  padding-top: rem(4);
  border-top: $border-style;
}

/**
 * Feature Block
 */
.feature-block__image {
  position: relative;
  overflow: hidden;
  z-index: 100;
  img {
    //transform: scale(1);
    //transition: transform .6s ease-out;
    display: block;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .4s $cubic-bezier;
  }
  &:before {
  }
  &:after {
    box-shadow: inset 0 0 0 0 $white;
  }
}

// Feature Hero
.feature-block--hero {
  overflow: hidden;
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 10;
  background-color: $white;
  @include media('<=medium') {
    box-shadow: 0 0 1px rgba($black, .2);
  }
  .feature-block__link {
    position: relative;
    &:hover {
      .kicker {
        background-color: $gray-dark;
      }
    }
  }
  .feature-block__text {
    padding: rem(20);
    width: 100%;
    @include media('>large') {
      display: flex;
      align-items: center;
      padding: rem(30);
    }
  }
  .kicker {
    @include media('>large') {
      width: 100%;
    }
  }
  .block__title {
    @include media('>medium') {
      font-size: rem(36)
    }
    @include media('>large') {
      width: 40%;
      margin-top: 0;
      margin-right: rem(30);
      font-size: rem(40);
      line-height: 1;
    }
    @include media('>xlarge') {
      margin-right: rem(50);
    }
    @include media('>xxlarge') {
      font-size: rem(50);
      line-height: 1;
    }
  }
  .block__dek {
    @include media('>large') {
      width: 50%;
      margin-top: 0;
      align-self: flex-start;
    }
    p {
      @include media('>medium') {
        font-size: rem(18);
      }
      @include media('>large') {
        font-size: rem(25);
        line-height: 1.35;
      }
      @include media('>xxlarge') {
        font-size: rem(25);
      }
    }
  }
}
.feature-block__logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  max-width: rem(300);
  transform: translate(-50%, -50%);
  transition: all .8s $cubic-bezier;
  @include media('>medium') {
    top: calc(50% - 30px);
  }
  svg {
    width: 100%;
  }
}

.view-link {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 110%) perspective(500px) rotateX(90deg);
  color: $white;
  padding: rem(10) rem(15);
  z-index: 100;
  border: 4px solid $white;
  text-align: center;
  background-color: rgba($black, .2);
  transition: transform .4s ease-in, opacity .3s ease-in, background-color .3s $cubic-bezier;
  opacity: 0;
  font-weight: 600;
  &:hover {
    background-color: rgba($black, .6);
  }
}
.feature-block__link {
  overflow-x: hidden;
  position: relative;
  .arrow {
    transition: all .6s ease-out;
  }
  &:hover {
    .feature-block__logo {
      @include media('>medium') {
        top: calc(50% - 100px);
      }
    }
    .feature-block__image {
      //img { transform: scale(1.05); }
      &:after {
        box-shadow: inset 0 0 0 20px rgba($white, .7);
      }
    }
    .arrow {
      animation: left-right .8s infinite;
      color: $salmon;
    }
  }
}
.block__link {
  &:hover {
    .view-link {
      @include media('>medium') {
        opacity: 1;
        transition: all .8s $cubic-bezier;
        transform: translate(-50%, -50%) rotateX(0deg);
      }
    }
  }
}
.feature-block__text {
  padding: rem(25) rem(30) rem(30);
}

// Featured Standard
.feature-block--standard {
  .block__link {
    display: flex;
    flex-wrap: wrap;
  }
  .block__text {
    width: 100%;
    position: relative;
    z-index: 20;
    padding: rem(15) 0 0;
  }
  .block__title {
    margin-bottom: rem(10);
  }
  p {
    @include font--secondary--m;
  }
}

// Arrow pointer
@keyframes left-right {
  0%, 100% {
    margin-left: 0;
  }
  50% {
    margin-left: 5px;
  }
}

/**
 * Inset Block
 */
.inset-block__link {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .3);
  }
  &:hover {
    .inset-block__text {
      top: calc(50% - 130px);
    }
  }
}
.inset-block__text {
  position: absolute;
  z-index: 15;
  max-width: rem(600);
  left: 50%;
  top: calc(50% - 90px);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all .8s $cubic-bezier;
}
.inset-block__image {
  img {
    width: 100%;
  }
}
.inset-block__title,
.inset-block__dek p {
  color: $white;
}
