/*------------------------------------*\
    $ICONS
\*------------------------------------*/

.icon {
  display: inline-block;
}

.icon--standard {
  background-color: $gray-med;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $blue;
    path {
      fill: $white;
    }
  }
}

.icon--xs {
  width: $icon-xsmall;
  height: $icon-xsmall;
}
.icon--s {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}
.icon--m {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(5);
}
.icon--l {
  width: $icon-large;
  height: $icon-large;
  padding: rem(6);
}
.icon--xl {
  width: $icon-big;
  height: $icon-big;
  padding: rem(6);
}
// Make icons larger for touch devices.
.touchevents {
  .t-icon {
    min-width: rem(35);
    min-height: rem(35);
    padding: rem(4);
    &.add-pad {
      padding: $pad-half;
    }
  }
}

.icon-twitter {
  background-color: $twitter-blue;
  border: 3px solid $twitter-blue;
  &:hover {
    background-color: $white;
    border-color: $twitter-blue;
    path {
      fill: $twitter-blue;
    }
  }
}
.icon-instagram {
  background-color: $instagram-brown;
  border: 3px solid $instagram-brown;
  &:hover {
    background-color: $white;
    border-color: $instagram-brown;
    path {
      fill: $instagram-brown;
    }
  }
}
