/*------------------------------------*\
    $HELPER/TRUMP CLASSES
\*------------------------------------*/

/**
 * Clearfix - extends outer container with floated children.
 */
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: " "; // 1
  display: table; // 2
}
.cf:after {
  clear: both;
}

/**
 * Completely remove from the flow and screen readers.
 */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}
.hide {
  display: none;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.screen-reader-text,
.sr-only {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

/**
 * Show only for touch devices.
 */
.t-show {
  display: none;
}
.touchevents .t-show {
  display: inline-block;
}

/**
 * Floats
 */
.right {
  float: right;
}
.left {
  float: left;
}

/**
 * Positioning
 */
.position--relative {
  position: relative;
}

/**
 * Alignment
 */
.text-align--right {
  text-align: right;
}
.text-align--center {
  text-align: center;
}
.text-align--left {
  text-align: left;
}
.center-block {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Transforms
 */
.rotate--90 {
  @include transform(rotate(90deg));
}
.rotate--180 {
  @include transform(rotate(180deg));
}

/**
 * Round Element
 */
.round {
  overflow: hidden;
  border-radius: 100%;
}
.rounded {
  border-radius: 3px;
}
.br--none {
  border-radius: 0;
}

/**
 * Background Covered
 */
.bg--cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/**
 * Arrows
 */
.arrow {
  width: 0;
  height: 0;
  display: inline-block;
}
.arrow--up {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $black;
}
.arrow--down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $black;
}
.arrow--right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid $black;
}
.arrow--left {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid $black;
}
.arrow--small {
  border-width: 5px;
}

/**
 * Shadow Styles - the naming conventions here are a little funny since the
 * box-shadow styles can't be separated out.
 */
.shadow {
  box-shadow: 0 0 4px rgba($black, .5);
}
.shadow--l-btm-light {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.text-shadow {
  text-shadow: 1px 1px 1px rgba($black, .3);
}
.text-shadow--white {
  text-shadow: 1px 1px 0px rgba($white, .8);
}

/**
 * Flexbox
 */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  > .block {
    width: 100%;
  }
}
.fb--100 {
  flex-basis: 100%;
}
.flex-end {
  align-self: flex-end;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.align-items--center {
  align-items: center;
}
.align-items--end {
  align-items: flex-end;
}
.align-items--start {
  align-items: flex-start;
}

/**
 * Max/min-widths/heights
 */
.mw--100 {
  max-width: rem(100);
}
.mw--300 {
  max-width: rem(300);
}
.mw--400 {
  max-width: rem(400);
}
.mw--500 {
  max-width: rem(500);
}
.mw--700 {
  max-width: rem(700);
}
.no-mh {
  min-height: 0;
}

/**
 * Viewport Heights
 */
.vh--100 {
  height: 100vh;
}

/**
 * Z-Index
 */
.z-10 {
  z-index: 10;
}
.z-100 {
  z-index: 100;
}
.z-1000 {
  z-index: 1000;
}

/**
 * Gradients
 */
.max-grad {
  @include mq($px600, max) {
    max-height: rem(500);
    overflow: hidden;
    @include bg-gradient(250, auto, 0, rgba($white, 0), $white);
  }
}
.grad--btm {
  @include bg-gradient(100, auto, 0, rgba($black, 0), $black);
}


/**
 * BG Patterns
 */
.shape--large-top-angle {
  overflow: hidden;
  &:before {
    opacity: .35;
  }
  &:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    left: -50%;
    right: -50%;
    top: -25%;
    transform: rotate(-15deg);
    z-index: 0;
    background-color: $blue;
  }
}

.backgroundblendmode {
  .shape--right-arrow,
  .shape--left-arrow {
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      left: -25%;
      right: -25%;
      top: 10%;
      transform: rotate(-15deg) scale(1.7);
      z-index: 0;
      background-color: $gray-light;
      mix-blend-mode: multiply;
      @include media('>medium') {
        left: -10%;
        right: -10%;
      }
    }
  }
  .shape--right-arrow {
    &:after {
      top: 25%;
      transform: rotate(15deg) scale(1.3);
      mix-blend-mode: soft-light;
    }
  }
  .shape--left-arrow {
    &:before {
      top: -20%;
      transform: rotate(10deg) scale(1.7);
    }
    &:after {
      mix-blend-mode: soft-light;
    }
  }

  .blend-mode--soft-light {
    &:before {
      mix-blend-mode: soft-light;
    }
  }

  .shape--box-rotate {
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 150%;
      height: 150%;
      left: -25%;
      top: -25%;
      transform: scale(.85) rotate(50deg);
      z-index: 0;
      background-color: $gray-light;
      mix-blend-mode: multiply;
    }
    &:after {
      transform: scale(.85) rotate(-50deg);
      background-color: rgba($gray-light, .5);
      mix-blend-mode: soft-light;
    }
  }
}

.shape--inner-box {
  &:before {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    top: 0;
    transform: scale(.85);
    z-index: 0;
    background-color: $gray-light;
    mix-blend-mode: multiply;
    //animation: left-arrow-motion 50s infinite;
  }
}

// @keyframes left-arrow-motion {
//   0%, 100% {
//     height: 150%;
//     top: -25%;
//     transform: rotate(-15deg);
//   }
//   50% {
//     height: 200%;
//     top: -20%;
//     transform: rotate(-10deg);
//   }
// }
// @keyframes right-arrow-motion {
//   0%, 100% {
//     height: 150%;
//     top: -25%;
//     transform: rotate(15deg);
//   }
//   50% {
//     height: 200%;
//     top: -20%;
//     transform: rotate(10deg);
//   }
// }


/**
 * Misc
 */
.overflow--hidden {
  overflow: hidden;
}

.w--100p {
  width: 100%;
}

.no-min-h {
  min-height: 0;
}

/**
 * Opacities
 */
.opacity--5 {
  opacity: .5;
}

.has-grunge {
  background-image: url(http://res.cloudinary.com/southleft/image/upload/v1465920779/bg-texture_jo0b8b.png);
  background-position: center center;
}
.has-wings {
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  &:before,
  &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '';
    background-color: rgba($gray-dark, .2);
    margin-left: 1%;
  }
  &:before {
    margin-left: -51%;
  }
  &.font--primary--l {
    &:before {
      margin-left: -53%;
    }
    &:after {
      margin-left: 3%;
    }
  }
}
.has-wings--white {
  &:before,
  &:after {
    background-color: rgba($white, .4);
  }
}
