/* ------------------------------------ *\
    $WORDPRESS STYLES
\* ------------------------------------ */

.c-block__full.l-grid-wrap.l-grid-wrap--6-of-7 {
  width: inherit;
}

// Widgets
.c-widget {
  li {
    padding-bottom: 5px;
    padding-left: 20px;
  }
}

// Breakout Block
.c-sidebar .c-block__breakout {
  @media (max-width: 900px) {
    margin-top: 0;
  }

  @media (min-width: 900px) {
    margin-right: -20px;
  }

  @media (min-width: 1300px) {
    margin-top: -40px;
  }

  margin-right: -15px;
  margin-top: -80px;
}

.body.hide-sabbath .c-sidebar .c-block__breakout {
  @media (min-width: 700px) {
    margin-top: -30px;
  }

  @media (min-width: 900px) {
    margin-top: -40px;
  }
}

// Breadcrumbs
.c-breadcrumbs {
  a {
    border: 0 !important;
    color: #717171;

    // $c-gray

    &::after {
      content: "\203A";
      display: inline-block;
      padding: 0 1px 0 6px;
      font-size: 20px;
    }
  }

  span {
    font-weight: 600;
    text-transform: uppercase;

    // $c-gray
    color: #717171;
  }
}

// Article
.c-article__footer {
  a {
    cursor: pointer;
    border: 0;
  }
}

// Page Header
.c-page-header a {
  color: white !important;

  &:hover {
    text-decoration: underline;
  }
}

// Ajax load more button
.alm-btn-wrap .alm-load-more-btn {
  margin-top: 40px;
  border-radius: 50px !important;
}

.alm-load-more-btn.done {
  opacity: 0.5;
}

// Comments
.c-comments {
  display: none;
  margin-top: 20px;

  &.this-is-active {
    display: block;
  }

  h2,
  h3 {
    font-weight: 600;
    text-transform: uppercase;
  }

  form {
    p {
      font-family: 'Noto Sans', "Helvetica", "Arial", sans-serif;
    }
  }

  .comment-form-cookies-consent {
    display: flex;

    input[type=checkbox] {
      width: 20px;
      margin-top: 2px;
    }
  }

  .comment-form-comment {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .comment-reply-title {
    font-weight: bold;
    text-transform: uppercase;
  }
}

// Widgets
.c-widget ul {
  & > * + * {
    margin-top: 10px;
  }
}

// Search and filter
.searchandfilter {
  ul {
    display: flex;
    flex-direction: column;
  }

  input[type='submit'] {
    margin-top: 20px;
  }
}

.search-form input[type='submit'] {
  margin-top: 20px;
}

// Article Body
.wp-caption-text {
  color: #717171;

  // $c-gray
  font-family: 'Noto Sans', "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-style: italic;
  line-height: 1.35;

  @media (min-width: 900px) {
    font-size: 15px;
  }
}

// Gutenberg block overrides
.wp-block-table {
  border: 0;
}

// Misc
.search-submit {
  margin-top: 10px;
}

figure {
  max-width: 100%;
}
